/* Google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Global css */
* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

:root {
    --main-color: #6CC254;
    --Oswald    : 'Oswald', sans-serif;
    --poppins   : 'Poppins', sans-serif;
}

li {
    list-style: none;
}

body {
    background-color: #E0E0E0;
    font-family     : var(--poppins);
}


*::selection {
    color     : #ffffff;
    background: #6cc254c5;
}

a {
    text-decoration: none;
    color          : #000000;
}

/* Menu bar css */
.menu {
    width           : 65px;
    height          : 100vh;
    background-color: #ffffff;
    position        : fixed;
}

.menu .logo {
    background-color: var(--main-color);
}

.menu .logo a img {
    width          : 80%;
    padding        : 10px 5px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin         : auto;
}

.menu .list ul li a {
    display        : flex;
    position       : relative;
    justify-content: center;
    align-items    : center;
    margin-top     : 4vh;
}

.menu .list ul li a i {
    display        : flex;
    justify-content: center;
    align-items    : center;
    padding        : 10px;
}

.menu .list ul li a i:hover {
    color     : var(--main-color);
    transition: all .3s;

}

.menu .list ul li a span {
    position                : absolute;
    left                    : 68px;
    background-color        : var(--main-color);
    width                   : auto;
    padding                 : 7px 15px;
    transform               : rotate(20deg);
    clip-path               : polygon(100% 0%, 100% 53%, 100% 100%, 10% 100%, 0% 50%, 10% 0);
    -webkit-transform       : translateX(20px);
    -moz-transform          : translateX(20px);
    transform               : translateX(20px);
    opacity                 : 0;
    visibility              : hidden;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay   : 0.3s;
    transition-delay        : 0.3s;
    -webkit-transition      : all 0.4s ease;
    -moz-transition         : all 0.4s ease;
    transition              : all 0.4s ease;
    color                   : white;
}

.menu .list ul li a:hover span {
    opacity   : 1;
    visibility: visible;
    left      : 75px;
    transform : rotate(0deg);
}

.social {
    position  : absolute;
    bottom    : 0;
    left      : 0;
    position  : fixed;
    padding   : 20px 10px;
    color     : #ffffff;
    background: var(--main-color);
    width     : 65px;
    display   : flex;
}

.social p {
    position : relative;
    display  : inline-block;
    font-size: 14px;
    cursor   : pointer;
}

.social .s_icon {
    position     : absolute;
    color        : #000000;
    background   : #f7f0f0;
    width        : 250px;
    padding      : 14px;
    top          : 0;
    left         : 65px;
    border-radius: 0px 50px 50px 0px;
    opacity      : 0;
    visibility   : hidden;
    transition   : all .3s;
}

.social:hover .s_icon {
    opacity        : 1;
    visibility     : visible;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.s_icon i {
    padding      : 10px 10px;
    background   : white;
    margin       : 0 10px;
    border-radius: 100%;
    font-size    : 12px;
    cursor       : pointer;
}

.s_icon i:hover {
    color: var(--main-color);
}

.social p::before {
    position  : absolute;
    content   : '';
    width     : 100%;
    height    : 1px;
    left      : 0;
    bottom    : 0;
    background: #FFFFFF;
}

/* Home section css */

section#home {
    margin-left    : 65px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 100vh;
    padding        : 0px 100px;
}

.left_side .time span {
    font-size     : 20px;
    font-weight   : 400;
    display       : block;
    text-transform: capitalize;
    padding       : 10px 0px;
    position      : relative;
}

.left_side .time span::after {
    content   : "";
    width     : 13%;
    height    : 2px;
    background: var(--main-color);
    position  : absolute;
    bottom    : 0;
    left      : 0;
}

.left_side .l_contant p {
    font-size     : 20px;
    text-transform: uppercase;
    font-weight   : 400;
    margin        : 16px 0;
    letter-spacing: 1px;
}


.left_side .l_contant h1 {
    font-size: 60px;
    text-transform: uppercase;
    line-height: 75px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: var(--Oswald);
}

.left_side .l_contant h1 span {
    color: var(--main-color);
}

.right_side img {
    width: 87%;
    margin: auto;
    display: flex;
    margin-top: 80px;
}

.left_side .l_contant h6 {
    font-size     : 17px;
    line-height   : 30px;
    font-weight   : 400;
    text-transform: capitalize;
}

.left_side .l_contant button {
    padding    : 15px 45px;
    color      : #FFFFFF;
    margin-top : 40px;
    font-weight: 500;
    background : transparent;
    cursor     : pointer;
    border     : none;
    position   : relative;
    border     : 1px solid var(--main-color);
    overflow   : hidden;
}

.left_side .l_contant button a {
    font-weight: 500;
    font-size  : 16px;
    color      : white;
    z-index    : 999;
    font-weight: 700;
    transition: all .5s;
}

.left_side .l_contant button:hover a {
    color: var(--main-color);
}

.left_side .l_contant button::after {
    content   : "";
    width     : 100%;
    height    : 100%;
    position  : absolute;
    top       : 0%;
    left      : 68px;
    background: var(--main-color);
    clip-path : polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    z-index   : -999;
    transition: all .5s;
}

.left_side .l_contant button::before {
    content   : "";
    width     : 100%;
    height    : 100%;
    position  : absolute;
    top       : 0px;
    left      : -60px;
    background: var(--main-color);
    clip-path : polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    z-index   : -999;
    transition: all .5s;
}

.left_side .l_contant button:hover::after {
    content   : "";
    width     : 100%;
    height    : 100%;
    position  : absolute;
    top       : 0%;
    left      : 175px;
    background: var(--main-color);
    clip-path : polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    z-index   : -999;
}

.left_side .l_contant button:hover:before {
    content   : "";
    width     : 100%;
    height    : 100%;
    position  : absolute;
    top       : 0px;
    left      : -221px;
    background: var(--main-color);
    clip-path : polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    z-index   : -999;
}